ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    font-size: 0.9rem;
    width: 100%;
  
}

/* .li{
    list-style: none;
    
    margin-right: 10px;
    font-size: 1em;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
} */

/* .p{
    font-size: 1em;
    font-weight: 600;
    color: #333;
    
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */